 *{
    margin-top: 0px;
 }
 body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px;
    display:block;
    
   
}
@media (max-width:1000px){
    .header {
        text-align: center;
        background-color: black;
        color: white;
        padding: 180px;
        display:block;
        padding-top: 0px;
    }
}
.nest{
    box-sizing: border-box;
    line-height: 0px;
}
.nest .image1 {
    float:left;
}
@media (max-width:1000px){
    .nest .image1 {
        float:left;
    }
}
nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
@media (max-width:1000px){
    nav a {
        float: right;
        color: white;
        display: block;
        text-align: center;
        padding: 2px 4px;
        text-decoration: none;
        font-size: 10px;
        margin-top:px;

    }
}
 nav a:hover {
    text-decoration: none;
    line-height: 10px;
 }
 .about {
    background-color: #1a092d;
    padding:30px;
 }
 
 .left {
    color: white;
    line-height: 50px;
    padding-right: px;
 }
 
 
 .left h1 {
    color: white;
    margin-top: 0px;
    padding-left: 0px;
    font-size: 70px;
 }
 @media (max-width:1000px){
    .left h1 {
        color: white;
        margin-top: 0px;
        padding-left: 0px;
        font-size: 40px;
     }
 }
 .left h2 {
    
    margin-top: 0px;
    padding-left: 0px;
    font-size: 50px;
    color:  red;
 }
 .right{
    padding-top: 40px;
    color:white;
    padding-left: 0px;
    line-height: 30px;
 }
.d2 {
   padding-top: 30px;
}
.d3 {
    padding-top: 30px;
}
.services{
    background-color: black;
    color:white;
}
.ser-top h1 {
    font-size: 50px;
    text-align: center;
}
.block {
    display: inline;
    display: flex;
    justify-content: center;
    word-spacing: 10px;
}
@media (max-width:1000px){
    .block {
        display: block;
        justify-content: center;
        word-spacing: 10px;
    }
}
.b1{
    border: 1px solid tomato;
    width:25%;
    padding:20px;
    height: 300px;
    background-color: tomato;
    margin-right: 30px;
    color: black;
    
}
@media (max-width:1000px){
    .b1{
        border: 1px solid tomato;
        width:100%;
        height: 200px;
        background-color: tomato;
        color: black;
        margin-bottom:20px;
        padding:10px;
       }
}
.b2{
    border: 1px solid skyblue;
    width:25%;
    height: 300px;
    background-color: skyblue;
    margin-right: 30px;
    padding:20px;
    color: black;
    
}
@media (max-width:1000px){
    .b2{
        border: 1px solid skyblue;
        width:100%;
        height: 200px;
        background-color: skyblue;
        padding-left: 30;
        margin-bottom:20px;
        padding:10px;
        color: black;
    } 
}
.b3{
    border: 1px solid pink;
    width:25%;
    padding:20px;
    height: 300px;
    background-color: pink;
    color: black;
    
}
@media (max-width:1000px){
    .b3{
        border: 1px solid pink;
        width:100%;
        padding:10px;
        height: 200px;
        background-color: pink;
        color: black;
        
    }   
}
.Facilities{
    background-color: black;
    color:white;
    padding:30px
}
.Facilities h1 {
    font-size: 50px;
    text-align: left;
    margin-left: 100px;
    padding-top: 30px;
}
.Facilities h3{
    margin-left: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.list  {
    line-height: 60px;
}
.f1 p{
    font-size: 30px;
    display: inline;
}
.f1 h1 {
    font-size:40px;
    display: inline;
}
.f1 .c1 {
    padding-left:140px;
}
.swami img {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    
}
@media (max-width:1000px) {
    .swami {
        margin-left: 0px;
        padding-top: 40px;
    }
}
@media (max-width:1000px){
    .swami img {
    height:200px;
    width:300px;
  }
}
.swami p{
    display: block;
    font-size: 20px;
    margin-left: 0px;
    
    
}