h1{
   display: inline-block;
   text-align: center;
   margin-top: 20px;
   
}
.name{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.jumbotron h1{
    text-align: center;
}
.education{
    margin-left: 50px;
}
.education h2{
    text-align: center;
}