*{
    margin-top: 0px;
    margin-bottom: 0px;
}
.container{
    position: relative;
  background: url("./img/carplan.png")

}
.car{
    position: relative;
    top: -344px;
    left:300px;
   
}
.back {
    position: absolute;
    animation: wheel 10s infinite linear;
    left: 0px;
    top:46px;
    left:35px;
    right:0px;
    z-index: 200;
}

@keyframes wheel {
    0%{
        transform: rotate(0deg)
       }
       
         50% {
         transform: rotate(-900deg)
       }
       
       
      100%{
        transform: rotate(-1400deg)
       }
}


.front{
    position: absolute;
    left:0px;
    top:46px;
    left:205px;
    right:0px;
    animation-duration: 4s;
    animation-timing-function: infinite;
    transform: rotate(360deg);
}
