
  body {
    margin: 40px;
  }
  
  .sidebar {
      grid-area: sidebar;
      grid-column: 1/2;
      grid-row: 2/3;
      
    }
  
    .content {
      grid-area: content;
      grid-column: 2/4;
      grid-column: 2/4;
    }
  
    .header {
      grid-area: header;
      grid-column: 2/4;
    }
  
    .footer {
      grid-area: footer;
    }
  
  
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 120px 120px 120px;
      grid-template-areas:
      "....... header header"
      "sidebar content content"
      "footer  footer  footer";
      background-color: #fff;
      color: #444;
    }
  
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }
  
  .header,
  .footer {
    background-color: #999;
  }