*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.header{
    background-color: white;
    width:100%;
    height:100px;
    
}
.he-img{
    margin-left: 10px;
    margin-top: 0px;
}
.nav {
    float: right;
    margin-top: 30px;
    margin-right: 500px;
}
.nav a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.nav a:hover{
    margin-left: 20px;
    color: black;
    text-decoration:underline;
}
.banner{
    margin-top: 0px;
}
.ban-img{
    position: relative;
}
.ban{
    position: absolute;
    top:200px;
    left:500px;
    font-size: 50px;
    color: white;
}
.about-con{
    margin:5%;
    font-size: 25px;
}

.w1{
    margin:5%;
    width:50%;
    display:flex;
    justify-content: space-between;
}
.c1{
    max-width:250px;
    float: right;
    margin-left:20px;
    font-size: 22px;
}
.w2{
    display:inline-block;
    margin:5%;
    float: right;
    margin-top: -389px;
}
.c2{
        max-width:250px;
        float: right;
        margin-left:20px;
        font-size: 22px;
}
.w3{
    margin:5%;
    width:50%;
    display:flex;
    justify-content: space-between;
}
.c3{
    max-width:250px;
    float: right;
    margin-left:20px;
    font-size: 30px;
}

.w4{
    display:inline-block;
    margin:5%;
    float: right;
    margin-top: -387px;
}
.c4{
    max-width:250px;
    float: right;
     margin-left:20px;
    font-size: 30px;
}

.img-1{
    display: inline-block;
   
}
.img-2{
    display: inline-block;
    float: right;
}
.gallery h1{
   margin-left: 48%;
}
.ga-img{
    margin: 5%;
    width:100%;
}
.ga-1{
    
    display: inline-block;
}
.ga-2{
   
    display: inline-block;
}
.ga-3{
   
    display: inline-block;
}
.ga-4{
   
    display: inline-block;
}
.ga-5{
    
    display: inline-block;
}
.co-c{
    margin:5%;

}
.map{
    width:50%;
    display: inline-block;
}
.form{
    float: right;
    display: inline-block;
    margin-right: 225px;
}
.svg-inline--fa {
    height:30px;
    color: black;
    margin-left: 10px;
    text-align: center;
   
   
}
.svg-inline--fa-nakul{
    color:black;
    height:30px;
    margin-left: 10px;
    text-align: center;
}
.footer{
   margin:5%;
}
.foo-img{
    float: right;
    margin-top: -60px;
    margin-right: 306px;
}
.nav-foo a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
}
.nav-foo a:hover{
    margin-right: 20px;
    color: black;
    text-decoration: underline;
    animation: 1s;
}