.header {
    text-align: right;
    
    padding-right: 20px;
}
body{
    background-color: #1c242a;
}
.google {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top:350px;
}
form {
   padding-top: 0px;
   
}
.footer {
    padding-top: 250px;
    background-color: #1c242a;
    color:white;
}
.footer nav {
    color:  white;
}