
.logo img{
   margin-left: 580px;
   display: inline-block;
   margin-top: -60px;
}
.nav-left a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
    
}
.nav-left a:hover{
    display: inline-block;
    text-decoration: underline;
    color: black;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
   color:#71a038;

    
}
.nav-left{
    
}
.nav-right{
    margin-left: 737px;
    margin-top: -101px;

}
.nav-right a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
}
.nav-right a:hover{
    display: inline-block;
    text-decoration: underline;
    color: black;
    color: #71a038;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
}
.banner  {
    margin-top: 50px;
}
.ban-img{
    position: relative;
}
.ban-content {
    position: absolute;
    color: white;
    top: 255px;
    left:100px;
    line-height: 15px;
    font-size: 23px;
}
.ban-content h1{
    font-size: 46px;
    line-height: 50px;
}
.ban-btn{
 position: absolute;
}
.b1 button{
    border:1px solid gray;
    width: 180px;
    height: 40px;
    color:white;
    background-color: black;
    display: inline;
    position: absolute;
    top: -12px;
    font-size: 20px;
    display: inline-block;
}
.b1 button:hover{
    border:1px solid black;
    width: 180px;
    height: 40px;
    color:white;
    display: inline;
    
    font-size: 20px;
    background-color:#d1292e;
}
.b2 button{
    border:1px solid gray;
    width: 180px;
    height: 40px;
    color:white;
    background-color: #d1292e;
    display: inline;
    
    font-size: 20px;
   
    margin-left: 190px;
    margin-top: -50px;
}
.ban-abs {
    border:1px solid white;
    height:150px;
    width:1200px;
    position: absolute;
    top:428px;
    left:-32px;
    background-color: #ffffff;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow:0px 40px 0px 0px;
}
.a1{
    position: absolute;
    top:32px;
    left:40px;
    color: black;
}
.a1 img{
    display: inline-block;
}
.a1 p{
    display: inline-block;
    margin-left:0px ;
}
.a2{
    position: absolute;
    top:32px ;
    left: 472px;
    color: black;
}
.a2 img{
    display: inline-block;
}
.a2 p{
    display: inline-block;
    margin-left:0px ;
}
.a3{
    position: absolute;
    top:32px ;
    left: 772px;
    color: black;
}
.a3 img{
    display: inline-block;
}
.a3 p{
    display: inline-block;
    margin-left:0px ;
}
.towing{
    margin-top: 150px;
    color: black;
}
.towing-cont h2{
   color: black;
   font-size: 30px;
   text-align: center;
}
.towing-cont p{
    text-align: center;
   
}