
.logo img{
   margin-left: 580px;
   display: inline-block;
   margin-top: -60px;
}
.nav-left a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
    
}
.nav-left a:hover{
    display: inline-block;
    text-decoration: underline;
    color: black;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
   color:#71a038;

    
}
.nav-left{
    
}
.nav-right{
    margin-left: 737px;
    margin-top: -101px;

}
.nav-right a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
}
.nav-right a:hover{
    display: inline-block;
    text-decoration: underline;
    color: black;
    color: #71a038;
    font-size: 25px;
   margin-left: 80px;
   margin-top: 35px;
}
.banner  {
    margin-top: 50px;
}
.ban-img{
    position: relative;
}
.ban-content {
    position: absolute;
    color: white;
    top: 255px;
    left:100px;
    line-height: 15px;
    font-size: 23px;
}
.ban-content h1{
    font-size: 46px;
    line-height: 50px;
}
.ban-btn{
 position: absolute;
}
.z1 button{
    border:1px solid gray;
    width: 180px;
    height: 40px;
    color:white;
    background-color: black;
    display: inline;
    position: absolute;
    top: -12px;
    font-size: 20px;
    display: inline-block;
}
.z1 button:hover{
    border:1px solid black;
    width: 180px;
    height: 40px;
    color:white;
    display: inline;
    
    font-size: 20px;
    background-color:#d1292e;
}
.z2 button{
    border:1px solid gray;
    width: 180px;
    height: 40px;
    color:white;
    background-color: #d1292e;
    display: inline;
    
    font-size: 20px;
   
    margin-left: 190px;
    margin-top: -50px;
}
.ban-abs {
    border:1px solid white;
    height:150px;
    width:1200px;
    position: absolute;
    top:428px;
    left:-32px;
    background-color: #ffffff;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow:10px 40px 0px 0px;
}
.a1{
    position: absolute;
    top:32px;
    left:40px;
    color: black;
}
.a1 img{
    display: inline-block;
}
.a1 p{
    display: inline-block;
    margin-left:0px ;
}
.a2{
    position: absolute;
    top:32px ;
    left: 472px;
    color: black;
}
.a2 img{
    display: inline-block;
}
.a2 p{
    display: inline-block;
    margin-left:0px ;
}
.a3{
    position: absolute;
    top:32px ;
    left: 772px;
    color: black;
}
.a3 img{
    display: inline-block;
}
.a3 p{
    display: inline-block;
    margin-left:0px ;
}
.towing{
    margin-top: 150px;
    color: black;
}
.towing-cont h2{
   color: black;
   font-size: 30px;
   text-align: center;
}
.towing-cont p{
    text-align: center;
   
}
.towing-q{
    margin-top: 30px;
    
}
.q1{
  border:1px solid white;
  height: 230px;
  display: inline-block;
  box-shadow: 1px 1px 3px 3px;
  width:250px;
  position: relative;
  margin-left: 50px;
  color: black;
  border-radius: 20px;
  margin-top: 0px;
}
.q1 img{
    position: absolute;
    top:23px;
    left:88px;
    border-radius: 50px;
}
.q1 h2{
    margin-top: 87px;
    text-align: center;
}
.q1 p{
    text-align: center;
}
.q1:hover{
    border:1px solid white;
    height: 230px;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px;
    width:250px;
    margin-left: 50px;
    background-color: #d1292e;
    color: white;
    border-radius: 20px;
  }
.q2{
    border:1px solid white;
    height: 230px;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px;
    width:250px;
    position: relative;
    margin-left: 50px;
    border-radius: 20px;
  }
  .q2 img{
    position: absolute;
    top:23px;
    left:88px;
    border-radius: 50px;
  }
  .q2 h2{
    margin-top: 87px;
    text-align: center;
}
.q2 p{
    text-align: center;
}
  .q2:hover{
    border:1px solid white;
    height: 230px;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px;
    color: white;
    background-color: #d1292e;
    width:250px;
    position: relative;
    margin-left: 50px;
    border-radius: 20px;
  }
  .q3{
    border:1px solid white;
    height: 230px;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px;
    width:250px;
    color: black;
    margin-left: 50px;
    border-radius: 20px;
  }
  .q3 img{
    position: absolute;
    top:29px;
    left:88px;
    border-radius: 50px;
  }
  .q3 h2{
    margin-top: 87px;
    text-align: center;
}
.q3 p{
    text-align: center;
}
.q3:hover{
    border:1px solid white;
    height: 230px;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px;
    width:250px;
    background-color: #d1292e;
    margin-left: 50px;
    color:white;
    border-radius: 20px;
}
  .q4{
    border:1px solid white;
    height: 230px;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px;
    width:250px;
    margin-left: 50px;
    border-radius: 20px;
    color: black;
    position: relative;
  }
  .q4 img{
    position: absolute;
    top:29px;
    left:88px;
    border-radius: 50px;
  }
  .q4 h2{
    margin-top: 87px;
    text-align: center;
}
.q4 p{
    text-align: center;
}
  .q4:hover{
    border:1px solid white;
    height: 230px;
    display: inline-block;
    box-shadow: 1px 1px 3px 3px;
    width:250px;
    color: white;
    background-color: #d1292e;
    margin-left: 50px;
    border-radius: 20px;
  }
  
.under img{
    margin-top: 100px;
    position: relative;
}
.under-con P{
    position: absolute;
    top:1450px;
    left:200px;
    color: white;
    word-spacing: 3px;
    font-size: 20px;
}
.under-con h2{
    position: absolute;
    top:1480px;
    left:200px;
    color: white;

}
.btn-under{
    border:1px solid GRAY;
    width:180px;
    height: 50px;
    background-color: #d1292e;
    color:white;
    position: absolute;
    top:1450px;
    left:1000px;
}
.btn-under P{
    margin-left: 40px;
}
.btn-under:hover{
    border:1px solid gray;
    width:180px;
    height: 50px;
    background-color: black;
    color:white;
    position: absolute;
    top:1450px;
    left:1000px;
}
 .c1 h2{
 text-align: center;
 margin-top: 20px;
}
 .c2 p{
 text-align: center;
 line-height: 20px;
}
.assistant{
position: relative;
}
.b1{
    border:1px solid #f5f5f5;
    width:250px;
    height:220px;
    margin-left: 50px;
    box-shadow:2px 2px 2px 2px;
    display: inline-block;
}
.b1 img{
    position: absolute;
    left: 140px;
}
.b1 h2{
    color: #111111;
    margin-top: 60px;
    text-align: center;
}
.b1 h2:hover{
    color: #d1292e;
    margin-top: 60px;
    text-align: center;
}
.b1 p{
    text-align: center;
    line-height: 5px;
    color: #111111;
}
.b1 .call-btn{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: #d1292e;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}
.b1 .call-btn:hover{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}
.b2{
    border:1px solid #f5f5f5;
    width:250px;
    height:220px;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow:2px 2px 2px 2px;
    display: inline-block;
}
.b2 img{
    position: absolute;
    left: 450px;
}
.b2 h2{
    color: #111111;
    margin-top: 60px;
    text-align: center;
}
.b2 h2:hover{
    color: #d1292e;
    margin-top: 60px;
    text-align: center;
}
.b2 p{
    text-align: center;
    line-height: 5px;
    color: #111111;
}
.b2 .call-btn{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: #d1292e;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}
.b2 .call-btn:hover{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}
.b3{
    border:1px solid #f5f5f5;
    width:250px;
    height:220px;
    margin-left: 50px;
    position: absolute;
    top:0px;
    left:608px;
    margin-top: 30px;
    box-shadow:2px 2px 2px 2px;
    display: inline-block;
}
.b3 img{
    position: absolute;
    left: 70px;
}
.b3 h2{
    color: #111111;
    margin-top: 60px;
    text-align: center;
}
.b3 h2:hover{
    color: #d1292e;
    margin-top: 60px;
    text-align: center;
}
.b3 p{
    text-align: center;
    line-height: 5px;
    color: #111111;
}
.b3 .call-btn{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: #d1292e;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}
.b3 .call-btn:hover{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}
.b4{
    border:1px solid #f5f5f5;
    width:250px;
    height:218px;
    margin-left: 100px;
    position: absolute;

    top:-5px;
    left:860px;
    margin-top: 40px;
    box-shadow:2px 2px 2px 2px;
    display: inline-block;
}
.b4 img{
    position: absolute;
    left: 90px;
}
.b4 h2{
    color: #111111;
    margin-top: 50px;
    text-align: center;
}
.b4 h2:hover{
    color: #d1292e;
    margin-top: 50px;
    text-align: center;
}
.b4 p{
    text-align: center;
    line-height: 5px;
    margin-top: -6px;
    color: #111111;
}
.b4 .call-btn{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: #d1292e;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}
.b4 .call-btn:hover{
    border: 1px solid gray;
    width:120px;
    height:20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}

