.header{
    margin-top: 100px;
    
}
.img{
    display: inline-block;
}
.nav a{
    
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    display: inline-block;
}
.nav a:hover{
    color: skyblue;
}
  .button{
    border:1px solid skyblue;
    background-color: aqua;
    width:185px;
    display:inline-block;
}
 .button a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.banner{
    margin-top: 20px;
    
}